<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e017393c29.js"></script>
    <script src="js/Chart.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>PEVOK | Add Idea</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-25" style="height: 100vh; overflow-y: scroll;">
          <ul class="nav flex-column side-nav">
            <li class="nav-item nav-brand">
              <img src="../img/favicon2.png" alt=""> PEVOK
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Dashboard
              </a>
            </li>
            <li class="nav-item-header">
              Create
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/addidea">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Idea
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/allIdea">
                <i class="fa fa-envelope" aria-hidden="true"></i> All Ideas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/approveMails">
                <i class="fa fa-check" aria-hidden="true"></i> Approve Mails
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/sentMails">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> Sent Mails
              </a>
            </li>
            <li class="nav-item-header">
              Plans
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/currentPlan">
                <i class="fa fa-columns" aria-hidden="true"></i> Current Plan
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="upgradePlan.php">
                <i class="fa fa-arrow-up" aria-hidden="true"></i> Upgrade Plan
              </a>
            </li>
            <li class="nav-item-header">
              Settings
            </li>
            <li class="nav-item">
              <a class="nav-link" href="account.php">
                <i class="fa fa-user" aria-hidden="true"></i> My Account
              </a>
            </li>
            <li class="nav-item-header">
              Server
            </li>
            <li class="nav-progress">
              <div class="progress-header">
                Storage Used
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress-info">
                4GB/10GB
              </div>
            </li>
            <li class="nav-progress">
              <div class="progress-header">
                Emails Sent
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress-info">
                400/500
              </div>
            </li>
          </ul>
        </div>
        <div class="col-95" style="height: 100vh;overflow-y: scroll;">

          <!--Modal Box to display success message of recieving data-->

          <div class="modal" tabindex="-1" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Idea recieved successfuly!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Please give us some time to send you the best email for the idea. If you have sent your
                    own words then go to <a href="/sentMails">sent mails</a> to track its progress.
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!--Modal Box to display success message of recieving data-->


          <div class="navbar">
            <div class="navbar-brand">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hawx Deora
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="userdropdown">
                <li><a class="dropdown-item" href="#">Messages</a></li>
                <li><a class="dropdown-item" href="#">Signout</a></li>
              </ul>
            </div>
          </div>
          <div class="navbar-breadcrumb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Add Idea</li>
              </ol>
            </nav>
          </div>
          <div class="container">
            <div class="row justify-content-center form-container">
              <div class="col-lg-5">
                <form action="/addIdea" method="post">
                  <div class="card">
                    <div class="card-header">
                      Get a personalised Email Design
                    </div>
                    <div class="card-body">
                      <div class="form-group form-container">
                        <label for="product">Product to advertise</label>
                        <input type="text" class="form-control" id="product" placeholder="Product" name="product" required>
                      </div>
                      <div class="form-group form-container">
                        <label for="subject">Subject of email</label>
                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject" required>
                      </div>
                      <div class="form-group form-container">
                        <label for="description">Description of product</label>
                        <textarea class="form-control" name="description" rows="5" id="description" placeholder="Product description..." style="resize: none;" required></textarea>
                      </div>
                      <input type="submit" value="Send" class="btn btn-sm btn-block btn-primary">
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-lg-5">
                <form action="/addIdea" method="post">
                  <div class="card">
                    <div class="card-header">
                      Send your own words
                    </div>
                    <div class="card-body">
                      <form action="/addIdea" method="post">
                        <div class="form-group form-container">
                          <label for="product">Product to advertise</label>
                          <input type="text" class="form-control" id="product" placeholder="Product" name="product" required>
                        </div>
                        <div class="form-group form-container">
                          <label for="priority">Advertising Priority</label>
                          <select class="form-select" name="priority" id="priority">
                            <option selected>Set priority</option>
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                          </select>
                        </div>
                        <div class="form-group form-container">
                          <label for="subject">Subject of email</label>
                          <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject" required>
                        </div>
                        <div class="form-group form-container">
                          <label for="description">Description of product</label>
                          <textarea class="form-control" name="description" rows="5" id="description" placeholder="Product description..." style="resize: none;" required></textarea>
                        </div>
                        <input type="submit" value="Send" class="btn btn-sm btn-block btn-success">
                      </form>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      var menu = true;
      $(".navbar-brand").click(function(){
        if(menu === true){
          $(".col-25").css("width","0%");
          $(".col-95").css("width","100%");
          menu = false;
          return menu;
        }else{
          $(".col-25").css("width","20.8333333%");
          $(".col-95").css("width","79.1666666%");
          menu = true;
          return menu;
        }
      });
    </script>
    <script>
      let formsubmission = '<%= sendSuccess %>';
      var myModal = new bootstrap.Modal(document.getElementById('myModal'));
      console.log(typeof formsubmission);
      if(formsubmission == "true"){
        myModal.toggle();
      }
    </script>
  </body>
</html>
