body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
button,
.btn {
  padding: 12px 35px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  body {
    font-size: 11px;
  }
  button {
    padding: 10px 25px;
  }
}
html {
  scroll-behavior: smooth;
}

.btn-pink {
  background: $pink;
  color: #fff;
}
.btn-pink:hover {
  background: #c04369;
  color: #fff;
}

.txt-pink {
  color: $pink;
}
.txt-dark {
  color: #2c2c2c;
}
.btn-block {
  width: 100%;
}
.btn-w80 {
  width: 80%;
  margin: 0% 10%;
}
.text-centered {
  text-align: center;
}
.btn-outline-pink {
  border: 1px solid $pink;
  color: $pink;
  transition: 0.4s;
}
.btn-outline-pink:hover {
  background: $pink;
  color: #fff;
}
