header {
  height: 100vh;

  .nav {
    background: rgba(0, 0, 0, 0.192);
    height: 80px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 2;

    .brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: #fff;

      img {
        height: 35px;
        width: 35px;
        margin: 0px 10px;
      }
      span {
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}
.menu-button {
  display: flex;
  flex-direction: column;
  display: none;

  .menu-bar {
    height: 4px;
    width: 35px;
    border-radius: 2rem;
    margin-bottom: 5px;
    background: #f0f0f0;
  }
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  //font-weight: bold;
  margin: 0;
  padding: 0;

  li {
    padding: 15px 20px;

    a {
      color: #f0f0f0;
      text-decoration: none;
      transition: 0.3s;
    }

    a:hover {
      color: $pink;
    }
  }

  li.curr-page {
    border-bottom: 2px solid $pink;
  }
}
.carousel {
  display: flex;
  height: 100vh;
  width: 200%;
  color: #fff;

  .item1,
  .item2,
  .item3 {
    width: 50%;
    height: 100vh;
    background-size: cover;
    transition: 1s;
  }
}
.item1 {
  background: url("../img/carousel-bg-1.png");
}
.item2 {
  background: url("../img/carousel-bg-2.png");
}
.item3 {
  background: url("../img/carousel-bg-3.jpeg");
}
.carousel-info {
  padding: 20% 10%;
  h1 {
    font-size: 40px;
    letter-spacing: 2px;
  }

  p {
    font-size: 22px;
    line-height: 1.5;
  }
}
@media only screen and (max-width: 700px) {
  .active {
    height: 100vh !important;
    background: rgb(34, 34, 34) !important;
  }
  .nav {
    display: block !important;
    height: 65px;
    overflow: hidden;
    //background: rgb(36, 36, 36) !important;
    font-size: 15px !important;
    transition: 0.4s;

    .brand {
      justify-content: space-around !important;
      padding: 15px 0px;
    }
  }
  .nav-list {
    flex-direction: column;
  }
  .menu-button {
    display: flex;
  }

  .carousel-info {
    padding: 50% 5%;
    h1 {
      font-size: 30px;
    }
  }
}
