.info-panel {
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info-header {
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    line-height: 1.5;
    padding: 40px;
  }
}
.customBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .text {
    width: 50%;
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
  }

  img {
    height: 50vh;
    border-radius: 8px;
    margin: 50px 10px;
  }
}
.bg-lightgray {
  background: #f0f0f0;
}
@media only screen and (max-width: 700px) {
  .info-panel {
    display: block !important;

    .info-header {
      width: 100% !important;
      padding: 20px 10px !important;
    }
  }
  .customBox {
    flex-direction: column;

    .text {
      width: 90%;
      padding: 10px 20px;
      font-size: 15px;
    }
  }
}
.link-pink {
  text-decoration: none;
  color: $pink;
}
.link-pink::after {
  transition: 0.2s;
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-left: 0px solid $pink;
  margin-top: 10px;
  margin-left: 5px;
}
.link-pink:hover::after {
  //z-index: 2;
  border-left: 8px solid $pink;
}
