body {
  background: #f0f0f0;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.nav-brand img {
  width: 40px;
  border-radius: 50%;
  margin: 0px 5px;
}
.nav-brand {
  padding: 10px;
}
.nav-item > .nav-link {
  color: #e4e4e4;
}
@media (min-height: 660px) {
  .side-nav {
    height: 100vh !important;
  }
}
.side-nav {
  background: #343a40;
  color: #fff;
  overflow: hidden;
}
.nav {
  flex-wrap: nowrap !important;
}
.flex-column {
  padding: 0 !important;
  margin: 0;
}
.container-fluid {
  padding: 0 !important;
}
.col-25 {
  width: 20.8333333%;
  transition: 0.5s;
}
.col-95 {
  width: 79.1666666%;
  transition: 0.5s;
  overflow: hidden;
}
.nav-item:nth-child(1) {
  font-size: 14pt;
  padding: 10px;
  color: #f0f0f0;
  background: #2a2f33;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item {
  font-size: 12pt;
  padding: 5px 10px;
  transition: background 0.3s;
}
.nav-item:hover {
  background: #2eb1ff;
}
.nav-item i {
  font-size: 13pt;
  padding: 0px 10px 0px 10px;
}
.nav-item-header {
  padding: 4px 10px;
  font-size: 11pt;
  color: #ccc;
}
.nav-progress {
  padding: 5px 10px;
}
.nav-progress .progress-header {
  font-size: 10pt;
  padding: 3px 0px;
}
.nav-progress .progress {
  height: 5px;
}
.nav-progress .progress-info {
  color: #8a8a8a;
  font-size: 8pt;
  padding: 2px 10px;
}
.navbar {
  height: 60px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  color: #666;
}
.navbar .navbar-brand i {
  font-size: 15pt;
}
.navbar .navbar-brand {
  padding: 0px 30px;
  cursor: pointer;
}
.navbar .dropdown > a {
  color: #666;
}
.navbar-breadcrumb {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px #b5b5b5;
}
.breadcrumb {
  margin: 0;
}
.card-container,
.container-lg-chart {
  padding: 10px 20px;
}
.chart-progress-header {
  text-align: center;
  padding: 5px;
}
.progress-row {
  border-top: 1px solid #00000020;
}
.card-pading-bottom-0 {
  padding-bottom: 0 !important;
}

/*------ADD Idea PAGE-------*/

/*----------------------------*/

.addIdea-heading {
  padding: 20px 10px;
  text-align: center;
  background: #ffffff61;
}
.addIdea-heading .main-title {
  font-size: 30pt;
  color: #0d6efd;
}
.addIdea-heading .sub-title {
  color: #555;
}
.idea-form {
  padding: 5px 0px;
}
.form-container {
  padding: 5px 0px;
}
.btn-block {
  width: 100%;
}
.modal-img img {
  width: 150px;
}
.welcome {
  padding: 15px 20px;
}
.welcome .welcome-msg {
  font-size: 14pt;
}
.welcome .welcome-name {
  font-weight: bold;
}
.plan-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.title-caption {
  color: #aaa;
}
.divider {
  height: 50px;
  width: 1px;
  background: #ccc;
}
.title-content {
  font-size: 25pt;
  font-weight: bold;
  color: #555;
}
.active-badge {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-flex;
}
.server-info-grid {
  border-radius: 8px;
}
.server-info-title {
  color: #555;
  font-size: 14pt;
  padding: 10px;
}
.progress-caption {
  font-size: 10pt;
}
.account-container {
  background: #fff;
  border-radius: 8px;
}
.username-title {
  font-size: 15pt;
}

@media only screen and (max-width: 800px) {
  .menu-cap {
    display: none;
  }
}
/*.menu-cap {
  display: inline;
}*/
