body{
  background: url('../img/login_bg.png');
  background-size: cover;
  border: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: Arial,calibri,sans-serif;
}

.wrapper{
  height: 80vh;
  width: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  background: #f0f0f0;
  overflow: hidden;
  border-radius: 10px;
}
.container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container .form{
  position: absolute;
  height: 100%;
  width: 104vw;
  margin-left: 28vw;
  overflow: hidden;
  transition: 1s;
}
.signup-form, .signin-form{
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.signup-form{
  float: left;
}
.signin-form{
  float: right;
}
.signup-form .title, .signin-form .title{
  color: #3bb890;
}
.container .login_info{
  width: 35%;
  overflow: hidden;
  margin-left: 0vw;
  transition: 1s;
  position: absolute;
  height: 100%;
}
.login_wrap{
  height: 100%;
  width: 100%;
  padding: 0;
  margin-left: 0vw;
  transition: 1s;
}
/*.login_info > div{
  position: absolute;
}*/
.login_info .login_wrap .login_info_signup{
  height: 100%;
  width: 40vw;
  background: url("../img/form_bg1.png");
  background-size: cover;
  margin-right: 0vw;
  padding: 0;
  float: left;
}
.login_info .login_wrap .login_info_signin{
  height: 100%;
  width: 40vw;
  background: url("../img/form_bg2.png");
  background-size: cover;
  margin-left: 40vw;
  padding: 0;
}
.wrap{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.title{
  font-size: 35pt;
  font-weight: bolder;
  margin-bottom: 0;
  text-align: center;
}
.wrap .description{
  text-align: center;
}

.btn{
  border: 1px solid #fff;
  background: transparent;
  margin: 10px;
  padding: 10px 18px;
  border-radius: 20px;
  color: #fff;
  font-size: 12pt;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover{
  background: #fff;
  color: #3bb890;
}
.login_info_signin .wrap{
  margin-left: 30%;
}


.form-control{
  display: flex;
  margin: 30px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-control .input-wrap{
  height: 35px;
  margin: 5px;
  width: 55%;
  background-color: #dadada;
  color: #999;
  padding: 10px;
  border-radius: 5px;
}
.form-control .input-wrap i{
  font-size: 15pt;
  margin: 0px 10px;
}
.form-control .input-wrap input[type="text"], .form-control .input-wrap input[type="password"]{
  border: none;
  outline: none;
  width: 70%;
  padding: 10px 14px;
  background: transparent;
  color: #999;
  font-size: 12pt;
}

.form-btn{
  background: linear-gradient(to top right, #3bb87b,#3bb8ac);
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 12pt;
  color: #fff;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.5s;
}
.form-btn:hover{
  box-shadow: 0px 4px 10px #ccc;
}
